= form_for @session do |f|
  -if @session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@session.errors.count, "error")} prohibited this session from being saved:"
      %ul
        - @session.errors.full_messages.each do |msg|
          %li= msg

  %ul.boards
    - @user.boards.each do |board|
      %li
        %label
          = f.radio_button :board_id, board.id
          = board.name
          
  %ul.kites
    - @user.kites.each do |kite|
      %li
        %label
          = f.radio_button :kite_id, kite.id
          = kite.name
  
      
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :wind_speed
    = f.number_field :wind_speed
  .field
    = f.label :wind_direction
    = f.number_field :wind_direction
  .field
    = f.label :comments
    = f.text_area :comments
  .actions
    = f.submit 'Save'
