= form_for @session do |f|
  -if @session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@session.errors.count, "error")} prohibited this session from being saved:"
      %ul
        - @session.errors.full_messages.each do |msg|
          %li= msg

  %p Location
  %ul.locations
    - @user.locations.each do |location|
      %li
        %label
          = f.radio_button :location_id, location.id
          = location.name
    %li
      = f.radio_button :location_id, '', checked: false
      = f.fields_for :location_attributes do |location_form|
        = location_form.label :name, "Other: "
        = location_form.text_field :name, class: 'radioNested'
  

  %p Board
  %ul.boards
    - @user.boards.each do |board|
      %li
        %label
          = f.radio_button :board_id, board.id
          = board.name
    %li
      = f.radio_button :board_id, '', checked: false
      = f.fields_for :board_attributes do |board_form|
        = board_form.label :name, "Other: "
        = board_form.text_field :name, class: 'radioNested'

  %p Kite
  %ul.kites
    - @user.kites.each do |kite|
      %li
        %label
          = f.radio_button :kite_id, kite.id
          = kite.name
    %li
      = f.radio_button :kite_id, '', checked: false
      = f.fields_for :kite_attributes do |kite_form|
        = kite_form.label :name, "Other: "
        = kite_form.text_field :name, class: 'radioNested'
    
    
  
      
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :wind_speed
    = f.number_field :wind_speed
  .field
    = f.label :wind_direction
    = f.number_field :wind_direction
  .field
    = f.label :comments
    = f.text_area :comments
  .actions
    = f.submit 'Save'
